div.dropdown {
	color: #555;
	margin: 3px -22px 0 0;
	position: relative;
	height: 17px;
	text-align:left;
}
div.submenu
{
	margin-top:10px;
	background: #fff;
	position: absolute;
	top: 20px;
	left: -20px;
	z-index: 100;
	width: 135px;
	display: none;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.dropdown  li a {
	color: #555555;
	display: block;
	font:12px/normal sans-serif;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
}

.dropdown li a:hover{
    background:#599bdc;
    text-decoration: none;
	color: #fff;
}

.dropdown  li input[type=submit] {
	color: #a00;
	background:#fff;
	display: block;
	font:12px/normal sans-serif;
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
	border:0px;
	text-align: justify;
	width: 100%;
}

.dropdown li input[type=submit]:hover{
    background:#dc817d;
    text-decoration: none;
	color: #fff;
}

a.account {
	position: absolute;
	z-index: 110;
	text-decoration: none;
}

.root
{
	list-style:none;
	margin:0px;
	padding:0px;
	font-size: 12px;
	border-top:1px solid #dedede;
}